@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #ffffff;
    --text-black: #000000;
    --background-color: #f1f5f9;
    --button-bg: #0b6dee;
    --button-hover-bg: #084c9b;
    --input-border: #ccc;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card {
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(var(--box-shadow));
    width: 400px;
    max-width: 90%;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--text-black);
}

form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-wrapper label {
    font-size: 1rem;
    color: var(--text-black);
    margin-bottom: 0.5rem;
    display: block;
}

.input-wrapper input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--main-color);
    font-size: 1rem;
    color: var(--text-black);
    transition: border-color var(--transition-speed);
}

.input-wrapper input:focus {
    border-color: var(--button-bg);
    outline: none;
}

.login-btn {
    background-color: var(--button-bg);
    color: var(--main-color);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    margin-bottom: 1rem;
}

.login-btn:hover {
    background-color: var(--button-hover-bg);
}

.login-options {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
}

.forgot-password {
    margin-bottom: 1rem;
}

.login-options a {
    color: var(--button-bg);
    text-decoration: none;
}

.login-options a:hover {
    color: var(--button-hover-bg);
}